{%- set pageTitle %}{% if style.title %}{{ style.title }} by {{ style.author }} | Style Stage{% else %}{{ meta.siteName }}{% endif %}{% endset -%}
{%- set pageSlug %}{% if style.title %}{{ style.title | slug }}{% elif not page.fileSlug %}home{% else %}{{ page.fileSlug }}{% endif %}{% endset -%}
{%- set pageDescription %}{% if style.description %}{{ style.description }}{% else %}{{ meta.siteDescription }}{% endif %}{% endset -%}
{%- set socialImg %}/social-img/{{ pageSlug }}/{% if style.title %}{{ style.title }}{% elif not page.fileSlug %}{{ meta.siteName }}{% else %}{{ title }}{% endif %}/{% if style.author %}{{ style.author }}{% endif %}{% endset -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if page.url == '/' %}
    <title>{{ meta.siteName }} from Modern CSS Solutions</title>
    <meta name="description" content="{{ meta.siteDescription }}" />
    <link href="{{ '/styles/css/main-stage.css' | url }}" rel="stylesheet" />
    {% if meta.url !== 'https://stylestage.dev' %}
    <link rel="canonical" href="https://stylestage.dev" />
    {% endif %}
    {% else %}
    <title>{{ pageTitle }}</title>
    <meta name="description" content="{{ pageDescription}}" />
    {% set cssFile %}/styles/css/{{ style.title | slug }}.css{% endset %}
    <link rel="stylesheet" href="{{ cssFile }}" />

    <link rel="canonical" href="https://stylestage.dev" />
    {% endif %}
    <link rel="icon" href="{{ '/favicon.png' | url }}" />

    <meta name="twitter:card" content="summary_large_image" />
    {% if style.twitter %}
    <meta name="twitter:creator" content="@{{ style.twitter }}" />
    {% endif %}
    <meta
      name="twitter:title"
      content="{{ pageTitle }}"
    />
    <meta
      name="twitter:description"
      content="{{ pageDescription }}"
    />
    <meta
      name="og:title"
      content="{{ pageTitle }}"
    />
    <meta
      name="og:description"
      content="{{ pageDescription }}"
    />
    <meta property="og:image" content="{{ socialImg | url | absoluteUrl(meta.url) }}" />
    <meta name="twitter:image" content="{{ socialImg | url | absoluteUrl(meta.url) }}" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for {{ meta.siteName }}"
      href="{{ '/feed/' | url }}"
    />
    {% if 'stylestage' in meta.url %}
    <link rel="preconnect" href="https://plausible.io">
    <link rel="dns-prefetch" href="https://plausible.io">
    <script async defer data-domain="stylestage.dev" src="https://plausible.io/js/plausible.outbound-links.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
    {% endif %}
  </head>
  <body>
    {% include 'html.njk' %}
    {% include 'sponsor-footer.njk' %}
  </body>
</html>
