<aside id="styles">
  <div class="container">
    <h2>Featured Styles</h2>
    <ul class="features">
    {%- for style in collections.featureStyles -%}
      <li>
        <span>
          <a href="/styles/{{ style.data.style.title | slug }}">{{ style.data.style.title }}<span aria-hidden="true"></span></a>
          <span>by {{ style.data.style.author}}</span>
        </span>
      </li>
    {%- else -%}
      <li class="empty">
        <span>
          Awaiting your contribution!
        </span>
      </li>
    {%- endfor -%}
    </ul>
		{% if page.url !== '/styles/' %}
    <a href="{{ '/styles/' | url }}" class="link-allstyles">View All Styles</a>
		{% endif %}
  </div>
</aside>