<aside id="styles">
  <div class="container">
    <h2>Featured Styles</h2>
    <ul class="features">
      <li><span><a href="#">[placeholder title this is kinda long]</a> <span>by [maybe you?]</span></span></li>
      <li><span><a href="#">[placeholder title]</a> <span>by [c'mon, you can do it!]</span></span></li>
      <li><span><a href="#">[placeholder title]</a> <span>by [future you]</span></span></li>
    </ul>
		{% if page.url !== '/styles/' %}
    <a href="{{ '/styles/' | url }}" class="link-allstyles">View All Styles</a>
		{% endif %}
  </div>
</aside>