<nav>
  <ul>
    <li><a href="{{ '/#about' | url }}">About</a></li>
    <li><a href="{{ '/#guidelines' | url }}">Guidelines</a></li>
    <li><a href="{{ '/#contribute' | url }}">Contribute</a></li>
    <li><a href="{{ '/#files' | url }}">Files</a></li>
    <li><a href="{{ '/styles/' | url }}">All Styles</a></li>
    <li><a href="{{ '/resources/' | url }}">Resources</a></li>
  </ul>
</nav>
