#contribute {
  background: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 10px,
    #b3f8f1 10px,
    #b3f8f1 18px
  );

  section {
    padding: 2rem;
    background-color: var(--color-background);
  }

  section:nth-child(2) {
    padding-top: 0;
  }
}
