// stylelint-disable selector-max-type
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
}

header {
  display: grid;
  min-height: 40vh;
  place-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  color: var(--color-primary);
  text-align: center;

  .container {
    max-width: 120ch;
  }

  h1 {
    display: inline-grid;
    place-content: center;
    font-size: 6rem;
    height: 3em;
    padding: 0 1.5em;
    border: 0.16em solid var(--color-primary);
    box-shadow: 0.12em 0.12em var(--color-secondary);
  }
}

nav {
  ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      display: inline-grid;
      color: var(--color-secondary);
      font-size: 1.25rem;
      padding: 0.5rem;
      text-decoration: none;

      &:before {
        height: 0.33em;
        width: 100%;
        background-color: var(--color-secondary);
        opacity: 0.15;
        content: "";
      }

      &:hover:before,
      &:focus:before {
        opacity: 1;
      }
    }

    li {
      margin: 0.25rem;
    }
  }
}

main {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

article {
  max-width: 80ch;
  margin-right: auto;
  margin-left: auto;
}

.profile {
  position: fixed;
  bottom: 2vmin;
  right: 2vmin;
  background-color: var(--color-light);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 5px rgba(color(primary), 0.15);
  max-width: 30ch;
  overflow: hidden;

  h4 {
    text-align: center;
    color: var(--color-gray);
    padding: 1.25rem 1.25rem 0;
  }

  ul {
    list-style: none;
    padding: 0 1.25rem 1.25rem;
    margin: 0;

    li {
      display: flex;

      span:nth-child(1) {
        font-weight: var(--font-weight-strong);
        color: var(--color-dark);
        width: 8ch;
      }

      span:nth-child(2) {
        word-break: break-word;
        flex-grow: 1;

        a {
          color: inherit;
        }
      }
    }
  }

  .container > a {
    font-size: 1.125rem;
    background-color: var(--color-secondary);
    color: var(--color-light);
    display: block;
    text-align: center;
  }
}

.skip-link {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  background-color: var(--color-secondary);
  color: #fff;
  font-size: 1.125rem;
  overflow: hidden;

  &:focus {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 0.5em;
  }
}

.link-github {
  display: inline-flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  padding: 0 0.5em;
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  color: #fff;
  min-height: 34px;
  line-height: 1;

  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
    margin-right: 0.25em;
  }
}

// .container {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   max-width: 120ch;
//   margin-right: auto;
//   margin-left: auto;
//   padding: 1rem;
// }

// .column-container {
//   display: grid;
//   grid-gap: 2em;
//   grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
// }
