body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
}

header {
  display: grid;
  min-height: 40vh;
  place-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  color: var(--color-primary);
  text-align: center;

  .container {
    width: 100%;
    max-width: 120ch;
  }

  h1 {
    display: inline-grid;
    height: 3em;
    padding: 0 1.5em;
    border: 0.16em solid var(--color-primary);
    font-size: 6rem;
    font-size: clamp(2rem, 7vw, 6rem);
    box-shadow: 0.12em 0.12em var(--color-secondary);
    place-content: center;
  }
}

nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      display: inline-grid;
      padding: 0.5rem;
      color: var(--color-secondary);
      font-size: 1.25rem;
      text-decoration: none;

      &::before {
        width: 100%;
        height: 0.33em;
        background-color: var(--color-secondary);
        opacity: 0.15;
        content: "";
      }

      &:hover::before,
      &:focus::before {
        opacity: 1;
      }
    }

    li {
      margin: 0.25rem;
    }
  }
}

main {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

article,
.page-footer,
#styles {
  padding: 1rem;

  .container {
    width: 100%;
    max-width: 80ch;
    margin-right: auto;
    margin-left: auto;
  }
}

#files {
  display: grid;
  place-content: center;
  margin: 5vh auto;
  text-align: center;

  .container {
    display: inline-block;
    padding: 5vmin;
    outline: 2px dashed var(--color-secondary);
    text-align: center;

    a {
      margin: 0.5rem;
      font-size: clamp(1.5rem, 4vw, 2rem);
    }
  }
}

.profile {
  width: 95vw;
  max-width: 80ch;
  margin: 1rem auto;
  border-radius: var(--border-radius);
  background-color: var(--color-light);
  box-shadow: 0 2px 5px rgba(color(primary), 0.15);
  overflow: hidden;

  h4 {
    padding: 1.25rem 1.25rem 0;
    color: var(--color-gray);
    text-align: center;
  }

  // stylelint-disable no-descending-specificity
  .container > a {
    display: block;
    background-color: var(--color-secondary);
    color: var(--color-light);
    font-size: 1.125rem;
    text-align: center;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0 1.25rem 1.25rem;
    list-style: none;

    li {
      display: flex;
      padding: 0.45em;

      span:nth-child(1) {
        width: auto;
        margin-right: 0.25em;
        color: var(--color-dark);
        font-weight: var(--font-weight-strong);
      }

      span:nth-child(2) {
        flex-grow: 1;
        word-break: break-word;

        a {
          color: inherit;
        }
      }
    }
  }

  @media (min-width: 180ch) {
    position: fixed;
    right: 2vmin;
    bottom: 2vmin;
    max-width: 30ch;

    ul {
      justify-content: unset;

      li {
        padding: 0;

        span:nth-child(1) {
          width: 8ch;
          margin-right: 0;
        }
      }
    }
  }
}

.page-footer {
  background-color: var(--color-primary);
  color: var(--color-light);

  a {
    color: inherit;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.skip-link {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  background-color: var(--color-secondary);
  color: #fff;
  font-size: 1.125rem;
  overflow: hidden;

  &:focus {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 0.5em;
  }
}

[class^="link"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 3em;
  padding: 0 0.75em;
  transform: translate(0, 0);
  transition: 180ms all ease-in-out;
  background-color: var(--color-primary);
  color: #fff;
  font-size: 1.125rem;
  line-height: 1;
  text-decoration: none;
  box-shadow: 0.18em 0.18em var(--color-secondary);

  &:hover,
  &:focus {
    transform: translate(-0.15em, -0.15em);
    box-shadow: 0.3em 0.3em var(--color-secondary);
  }

  &:focus {
    outline-color: transparent;
    outline-style: solid;
  }
}

.link-github {
  svg {
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
    fill: currentColor;
  }
}

// .container {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   max-width: 120ch;
//   margin-right: auto;
//   margin-left: auto;
//   padding: 1rem;
// }

// .column-container {
//   display: grid;
//   grid-gap: 2em;
//   grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
// }
