// stylelint-disable no-descending-specificity
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
}

header {
  display: grid;
  min-height: 40vh;
  place-items: center;
  padding: 10vh 2rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%233a00ff' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d42257' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-position: 0 -38px, 17px -40px;
  color: var(--color-primary);
  text-align: center;

  .container {
    width: 100%;
    max-width: 120ch;
  }

  h1 {
    display: inline-grid;
    height: 3em;
    padding: 0 1.5em;
    border: 0.16em solid var(--color-primary);
    font-size: 6rem;
    font-size: clamp(2rem, 7vw, 6rem);
    box-shadow: 0.12em 0.12em var(--color-secondary);
    place-content: center;
  }
}

nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      display: inline-grid;
      padding: 0.5rem;
      color: var(--color-secondary);
      font-size: 1.25rem;
      text-decoration: none;

      &::before {
        width: 100%;
        height: 0.33em;
        background-color: var(--color-secondary);
        opacity: 0.15;
        content: "";
      }

      &:hover::before,
      &:focus::before {
        opacity: 1;
      }
    }

    li {
      margin: 0.25rem;
    }
  }
}

main {
  padding-top: 5vh;
  padding-bottom: 5vh;

  h3 {
    color: var(--color-primary);
  }
}

article {
  section {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
}

article,
.page-footer,
#styles {
  .container {
    width: 100%;
    max-width: 80ch;
    margin-right: auto;
    margin-left: auto;
  }
}

article,
#styles {
  padding: 1rem;
}

#about {
  section:nth-child(1) h2 {
    color: var(--color-secondary);
  }

  section:nth-child(2) {
    p:nth-of-type(2) {
      margin-top: 2rem;
      color: var(--color-primary);
      font-size: 1.25em;
      font-weight: var(--font-weight-strong);
      text-align: center;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 1rem 0 2rem;
      padding: 0;
      list-style: none;

      li {
        margin: 0.25em;
        padding: 0.25em 0.5em;
        background-color: rgba(color(primary), 0.08);
        // border-radius: var(--border-radius);
      }
    }
  }
}

#contribute {
  section:nth-child(2) {
    padding-top: 0;
  }
}

#files {
  display: grid;
  place-content: center;
  margin: 5vh auto;
  text-align: center;

  h3 {
    color: var(--color-primary);
  }

  .container {
    display: inline-block;
    padding: 5vmin;
    outline: 2px dashed var(--color-secondary);
    text-align: center;

    a {
      margin: 0.5rem;

      &:not(.link-codepen) {
        font-size: clamp(1.5rem, 4vw, 2rem);
      }
    }
  }
}

#styles {
  margin: 5vh 0 10vh;
  text-align: center;

  h2 {
    color: var(--color-primary);
  }

  ul {
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));

    /*! 
    * SVGs from Hero Patterns
    * @link http://www.heropatterns.com/
    */
    li {
      display: grid;
      position: relative;
      place-content: center;
      min-height: 20vh;
      padding: 1rem;
      background-color: var(--color-secondary);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23fff' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      color: var(--color-light);

      > span {
        display: grid;
        place-content: center;
        padding: 0.5em;
        grid-gap: 0.5rem;
        border: 1px solid var(--color-light);
        background-color: var(--color-secondary);
        line-height: 1.1;

        a {
          color: inherit;
          font-size: 1.3rem;
          font-weight: var(--font-weight-strong);
          text-decoration: none;

          // stylelint-disable-next-line max-nesting-depth
          &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
          }
        }

        span:nth-child(2) {
          position: relative;
        }
      }

      &:nth-child(2) {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23fff' fill-opacity='0.4'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }

      &:nth-child(3) {
        background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23fff' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
    }

    &::after {
      display: grid;
      position: absolute;
      bottom: -4.25em;
      width: 10ch;
      height: 4em;
      padding-top: 3.25em;
      transform: rotate(-15deg);
      transform-origin: bottom right;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 199.1 111.3'%3E%3Cpath fill='%236F6FFD' d='M118 77a77 77 0 00-2-18c-2-4-3-9-3-13a29 29 0 011-12 19 19 0 017-9c4-3 8-4 13-3a14 14 0 018 7 31 31 0 012 5 75 75 0 005 10 47 47 0 002 5 17 17 0 003 3c4 4 8 4 13 0a15 15 0 005-8 37 37 0 001-7l1-11a18 18 0 014-11 2 2 0 000-3l-3-3-2-3a2 2 0 011-2 11 11 0 012-1l19-3c4 0 5 1 3 5l-7 16c-1 3-2 3-5 1l-4-5a1 1 0 00-1 0 9 9 0 00-3 5 23 23 0 00-1 6l-1 11a26 26 0 01-1 7 18 18 0 01-8 10c-5 3-9 3-13 0a20 20 0 01-6-6 68 68 0 01-6-13l-2-4a18 18 0 00-2-4 10 10 0 00-14-2 15 15 0 00-4 4 19 19 0 00-3 9 32 32 0 000 11l2 6a78 78 0 012 27 32 32 0 01-4 15 24 24 0 01-11 9 33 33 0 01-19 3 16 16 0 01-13-9 29 29 0 01-3-11 70 70 0 012-18l2-14a33 33 0 000-14c-1-4-4-7-8-7-7-1-14 1-19 6a34 34 0 00-6 9 59 59 0 00-4 10l-3 12-2 6a26 26 0 01-5 8 17 17 0 01-16 6 26 26 0 01-10-4 7 7 0 01-2-1 2 2 0 010-2 2 2 0 012 0l3 1a22 22 0 0010 3 13 13 0 009-4 22 22 0 005-6 41 41 0 003-8l3-12a59 59 0 015-13 31 31 0 017-9c6-5 14-7 22-5a12 12 0 019 7 21 21 0 011 7 57 57 0 01-2 17 132 132 0 00-2 16 37 37 0 000 13 27 27 0 002 5 13 13 0 0011 8 30 30 0 0016-3 22 22 0 0010-10c3-4 3-9 4-13v-5z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 90%;
      color: #6f6ffd;
      font-size: 0.9rem;
      content: "Grid FTW!";
      place-items: end;
    }
  }
}

.page-footer,
#styles {
  ul {
    display: grid;
    margin: 0 0 2rem;
    padding: 0;
    grid-gap: 1em;
    list-style: none;
  }
}

.profile {
  width: 95vw;
  max-width: 80ch;
  margin: 1rem auto 10vh;
  padding: 1.25rem;
  border-radius: var(--border-radius);
  background-color: var(--color-light);
  box-shadow: 0 2px 5px rgba(color(primary), 0.15);
  overflow: hidden;

  h4 {
    margin: 0;
    color: var(--color-secondary);
    text-align: center;
  }

  .container {
    display: grid;
    justify-items: center;
    grid-gap: 1rem;

    > a {
      min-height: 2em;
      border: 2px solid currentColor;
      color: var(--color-secondary);
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      padding: 0.45em;

      span:nth-child(1) {
        width: auto;
        margin-right: 0.25em;
        font-weight: var(--font-weight-strong);
      }

      span:nth-child(2) {
        flex-grow: 1;
        word-break: break-word;

        a {
          color: inherit;
        }
      }
    }
  }

  @media (min-width: 180ch) {
    position: fixed;
    right: 2vmin;
    bottom: 2vmin;
    max-width: 30ch;
    margin-bottom: 0;

    ul {
      justify-content: unset;

      li {
        padding: 0;

        span:nth-child(1) {
          width: 8ch;
          margin-right: 0;
        }
      }
    }
  }
}

.page-footer {
  padding: 3rem 1rem;
  background-color: var(--color-primary);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d2fbf7' fill-opacity='1'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-position: center -34px;
  color: var(--color-light);

  // BEFORE WITH MINIMAL LOGO STYLE

  p:first-child {
    font-weight: var(--font-weight-strong);
    letter-spacing: 0.03em;
    text-align: center;
  }

  p a {
    color: inherit;
  }

  ul {
    grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
  }

  .container > :last-child {
    margin-bottom: 0;
  }
}

.skip-link {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  background-color: var(--color-secondary);
  color: #fff;
  font-size: 1.125rem;
  overflow: hidden;

  &:focus {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 0.5em;
  }
}

[class^="link"]:not(.link-codepen) {
  min-height: 3em;
  background-color: var(--color-primary);
  color: #fff;
  box-shadow: 0.18em 0.18em var(--color-secondary);
}

[class^="link"]:not(.link-codepen),
.profile .container > a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.75em;
  transform: translate(0, 0);
  transition: 180ms all ease-in-out;
  font-size: 1.125rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;

  &:hover,
  &:focus {
    transform: translate(-0.15em, -0.15em);
    box-shadow: 0.3em 0.3em var(--color-secondary);
  }

  &:focus {
    outline-color: transparent;
    outline-style: solid;
  }
}

.page-footer [class^="link"] {
  width: 100%;
  min-height: 2.5em;
  background-color: var(--color-background);
  color: var(--color-primary);
}

.link-codepen {
  display: block;
  font-size: 1.5rem;
}

.link-allstyles {
  font-size: 1.5rem;

  @media (max-width: 400px) {
    margin-left: 6rem;
  }
}

.link-github {
  svg {
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
    fill: currentColor;
  }
}
