$typography-variants: h1, h2, h3, h4;

@each $type in $typography-variants {
  #{$type} {
    font-weight: var(--font-weight-strong);
    line-height: 1.15;
    margin-bottom: 0.65em;
  }
}

h1 {
  font-size: var(--font-size-h1);
  font-size: unquote("min(max(3rem, 5vw), var(--font-size-h1))");
}

h2 {
  font-size: var(--font-size-h2);
  font-size: unquote("min(max(2.5rem, 5vw), var(--font-size-h1))");
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

p,
li {
  font-size: var(--font-size-text);
}

p {
  margin: 0 0 1rem;
}

article {
  > ul,
  > ol {
    > li + li {
      margin-top: 1rem;
    }
  }

  * {
    + h2 {
      margin-top: 4rem;
    }

    + h3 {
      margin-top: 2rem;
    }
  }
}

strong {
  font-weight: var(--font-weight-strong);
}

a {
  color: var(--color-anchor);
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.5rem;
  border-left: 2px solid var(--color-secondary);
  color: var(--color-gray);

  &,
  p {
    font-size: var(--font-size-h4);
  }

  + * {
    margin-top: 3rem;
  }
}
