/*
Below use @import to include one or more Google Fonts
*/
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&family=Fraunces:wght@600&family=Libre+Bodoni:wght@700&display=swap");

font-family: "Fraunces", serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
/*
Below use @import to include one CSS reset or normalize stylesheet of your choice
*/

/*
Make the embedded svg small enough so it does not to overtake the page
*/
svg {
  width: 0.75em;
}


body {
  background: #F2F2F2;
  font-family: "Dosis", sans-serif;
  font-size: 1.5rem;
  margin: 2rem;
  color: #292B2F;
}

h1 {
  font-family: "Fraunces", serif;
  text-align: center;
  color: #50E3C2;
}

h2,
h3,
h4 {
  font-family: "Fraunces", serif;
  text-align: center;
  color: #5a5a5a;
}

h2,
h3 {
  text-decoration: underline;
}

.skip-link {
  display: none;
}

.container,
nav {
  max-width: 80ch;
  margin: 8vh auto;
}

a:link {
  color: #4A90E2;
  text-decoration: none;
}

a:visited {
  color: #50E3C2;
}

a:hover {
  background-color: #50E3C2;
  text-decoration: underline;
}

a:hover:visited {
  background-color: #4A90E2;
  text-decoration: underline;
}

nav ul li {
  list-style: none;
  margin-right: 4rem;
  font-size: 1.8rem;
}

.profile ul {
  columns: 1;
  list-style: none;
}

#styles ul {
  columns: 1;
  list-style: none;
}

.page-footer ul {
  columns: 1;
  list-style: none;
}

@media only screen and (min-width: 600px) {
  
  nav ul {
    text-align: center;
  }

  nav ul li {
    display: inline;
    line-height: 6rem;
  }
  
  .container ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-coulmns: 2;
  }
}