---
permalink: ../src/newsletter/newsletter.md
eleventyExcludeFromCollections: true
--- 
{%- set ssUrl %}https://stylestage.dev/{% endset -%}
{%- set imgUrl %}https://stylestage.dev/img/newsletter/{% endset -%}

> There are now {{styles.length}} styles available - [go check them out!]({{ssUrl}}/styles/)

## 🚨 Updates

---

## Recently Added Styles
{%- set styleList %}
[""]
{%- endset -%}

{%- for style in styles | createList(styleList) %}
- [{{ style.title }}]({{ssUrl}}styles/{{ style.title | slug }}/) By {{ style.author}}
{%- endfor %}

---

## CSS Tip: 

<img src="{{imgUrl}}.png" alt="snippet for " />

---

## Weekly Link Roundup

Here’s some links you may have missed:

---

Keep it .class-y,  
Steph • [@5t3ph](https://twitter.com/5t3ph)