---
permalink: feed/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ meta.siteName }}</title>
	<subtitle>{{ meta.siteDescription }}</subtitle>
	{% set absoluteUrl %}{{ '/feed/' | url | absoluteUrl(meta.url) }}{% endset %}
	<link href="{{ absoluteUrl }}" rel="self"/>
	<link href="{{ meta.url }}"/>
	<updated>{{ collections.all | rssLastUpdatedDate }}</updated>
	<id>{{ meta.url }}</id>
	<author>
		<name>{{ meta.authorName }}</name>
	</author>
	{%- for page in collections.allPages -%}
	{% set absolutePostUrl %}{{ page.url | url | absoluteUrl(meta.url) }}{% endset %}
	<entry>
		<title>{% if page.data.title %}{{ page.data.title }}{% elif page.data.style.title %}{{ page.data.style.title }} by {{ page.data.style.author }}{% else %}{{ meta.siteName }}{% endif %}</title>
		<link href="{{ absolutePostUrl }}"/>
		<updated>{{ page.date | rssDate }}</updated>
		<id>{{ absolutePostUrl }}</id>
		<content type="html">{{ page.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
	</entry>
	{%- endfor -%}
</feed>