---
permalink: api/template.html
permalinkBypassOutputDir: true
eleventyExcludeFromCollections: true
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap"
      rel="stylesheet"
    />
    {% set css %}{% include "api/social-previews.css" %}{% endset %}
    <style>
      {{ css | safe }}
    </style>
  </head>
  <body>
    <header>
        <h1><small></small></h1>
        <h2>{{ meta.siteName }}</h2>
        <p>stylestage.dev</p>
    </header>
  </body>
</html>
