---
permalink: functions/template.html
permalinkBypassOutputDir: true
eleventyExcludeFromCollections: true
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap"
      rel="stylesheet"
    />
    {% set css %} {% include "functions/social-previews.css" %} {% endset %}
    <style>
      {{ css | safe }}
    </style>
  </head>
  <body>
    <header class="hero text-align-center">
      <div class="container content-maxlength">
        <h1 class="ink--primary mb-none mlg"></h1>
        <p class="lead ink--gray mt-md mb-none">
          <span><em>Published on</em> <strong class="ink--secondary">{{ meta.siteName }}</strong></span>
        </p>
      </div>
    </header>
  </body>
</html>
