---
permalink: public/source-files/stylestage.html
permalinkBypassOutputDir: true
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>[Your Style Title] by [Your Name] | Style Stage</title>
    <meta name="description" content="[Your optional description]" />
    <link href="style.css" rel="stylesheet" />
	</head>
	<body>
{% include 'html.njk' %}
	</body>
</html>