/*!
* LICENSE - style only: CC BY-NC-SA
* @link https://creativecommons.org/licenses/by-nc-sa/3.0/
* Graphics copyright of Vishwa.R
* 
* Title: Borlandish
* Author: Vishwa.R
* Website: https://code-reaper08.github.io/Vishwa/
* Twitter: @N/A
*
* View on Style Stage:
* @link https://stylestage.dev/styles/borlandish/
*/

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
  --primary-color: #A00893;
  --secondary-color: #BFBFBF;
  --accent-color: #FFFF00;
  --alt-accent-color: #000000;
  --dark-color: #000133;
  --link-color: #FFFFFF;
}
::-moz-selection {
  background-color: rgba(211, 211, 211, 0.774);
}
::selection {
  background-color: rgba(211, 211, 211, 0.774);
}
body {
  color: #FFFF00;
  font-family: 'Press Start 2P', cursive;
  font-size: 1em;
  line-height: 1.5em;
  max-width: 800px;
  margin: 0 0 0 2%;
  background: #0000AC;
}

/* Structure */

header .container,
nav {
  text-align: center;
}

/* Typography */

h1,h2,h3,h4,h5,h6 {
  color: var(--accent-color);
  text-shadow: 3px 3px var(--alt-accent-color);
  text-transform: lowercase;
  letter-spacing: 5px;
  font-weight: bold;
}

h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Press Start 2P', cursive;
    font-size: 5em;
    line-height: 1em;
}

/* Links */

a:link,
a:visited,
a:active {
color: var(--link-color);
  text-decoration: none;
  border-bottom: 2px solid var(--link-color);
  margin: 0 0 4px 0;
}
a:hover {
    text-shadow: 5px 1px 0px var(--alt-accent-color);
}
a.skip-link,
header div.container a.link-github,
a.link-downloadcss,
a.link-downloadhtml,
a.link-codepen {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  background-color: var(--secondary-color);
  color: black;
  padding: 10px;
  margin: 0;
  top: auto;
}
a.skip-link:hover,
header div.container a.link-github:hover,
a.link-downloadcss:hover,
a.link-downloadhtml:hover,
a.link-codepen:hover {
    text-shadow: 5px 1px 0px var(--link-color);
}
a.skip-link {
  position: absolute;
}

/* Skip link */

.skip-link {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
}

.skip-link:focus {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  padding: 0.5em; }

/* Lists */

ol {
  list-style-type:decimal;
}

ul {
  list-style-type:square;
  color: var(--link-color);
}

nav ul {
  list-style-type: none;
  padding: 0 0 0 0;
}

nav ul li {
  display: inline;
  margin: 0 1%;
}

blockquote {
  padding: 20px;
  margin: 0;
  color: var(--alt-accent-color);
  border-bottom: 5px solid lightgrey;
  background-color: lightgrey;
  font-family: 'Press Start 2P', cursive;
  }

blockquote a,
blockquote a:link,
blockquote a:visited,
blockquote a:active {
  color: var(--dark-color);
  font-weight: bold;
  border-bottom: none;
}
blockquote a:hover,
blockquote a:link:hover,
blockquote a:visited:hover,
blockquote a:active:hover {
  text-shadow: 5px 1px 0px var(--link-color);
}
svg {
  height: 1.2em;
  fill: black;
  vertical-align: middle;
}

footer.page-footer svg {
    display: none;
}

@media screen AND (max-width: 500px) {
  body {
    margin: 0 auto;
    padding: 0 2%;
    font-size: 0.6em;
  }
  h1 {
    font-size: 2.5em;
    line-height: 1.2em;
  }

  nav ul {
    padding: 0;
  }

  a.skip-link,
  header div.container a.link-github,
  a.link-downloadcss,
  a.link-downloadhtml,
  a.link-codepen {
    display: block;
  }
  
}
body > header > div > h2 {
    font-style: normal;
}