/*!
* LICENSE - style only: CC BY-NC-SA
* @link https://creativecommons.org/licenses/by-nc-sa/3.0/
* Graphics copyright of Vishal Sharma
* 
* Title: Dark- Navy & Green
* Author: Vishal Sharma
* Website: https://www.codeentity.tech
* Twitter: @iamvishal345
*
* View on Style Stage:
* @link https://stylestage.dev/styles/dark-navy-and-green/
*/

@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500&display=swap");
:root {
  --navy: #0a192f;
  --light-navy: #112240;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --slate: #8892b0;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --blue: #57cbff;
  --font-family: "Sora", sans-serif;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --border-radius: 4px;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: var(--navy);
  color: var(--lightest-slate);
  font-family: var(--font-family);
}

p {
  color: var(--slate);
}

strong {
  color: var(--blue);
}

main {
  padding: 2rem 10rem;
}
@media (max-width: 768px) {
  main {
    padding: 2rem 1rem;
  }
}

ul,
ol {
  padding: 0;
}

@media (prefers-reduced-motion: reduce) {
  *, *::after, *::before {
    animation-duration: 1ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 1ms !important;
    transition-delay: -1ms !important;
  }
}
header {
  padding: 2rem 1rem;
}
header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
header .container h1 {
  margin: 0 0 30px 4px;
  margin: 0;
  font-size: clamp(30px, 5vw, 60px);
}
@media (max-width: 480px) {
  header .container h1 {
    margin: 0 0 20px 2px;
  }
}
header .container h2 {
  font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
  font-weight: 400;
}
header .container .link-github {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 1.25rem 1.75rem;
  font-size: var(--fz-sm);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  display: flex;
  align-items: center;
  gap: 8px;
}
header .container .link-github:hover {
  background-color: var(--green-tint);
}
header .container .link-github:focus, header .container .link-github:active {
  background-color: var(--green-tint);
  outline: 2px solid;
  outline-offset: 2px;
}
header .container .link-github:after {
  display: none !important;
}
header .container .link-github svg {
  height: var(--fz-md);
  fill: var(--green);
}

nav {
  padding: 0px 50px;
  width: 100%;
  pointer-events: auto !important;
  user-select: auto !important;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1080px) {
  nav {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  nav {
    padding: 0 25px;
  }
}
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 12;
  display: flex;
}
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }
}
nav ul li {
  margin: 0 5px;
  font-size: var(--fz-xs);
  counter-increment: item 1;
}
nav ul li a {
  padding: 10px;
  color: var(--lightest-slate);
}
nav ul li a:focus, nav ul li a:active {
  outline: 2px dashed var(--green);
  outline-offset: 3px;
}
nav ul li a:before {
  content: "0" counter(item) ".";
  margin-right: 5px;
  color: var(--green);
  font-size: var(--fz-xxs);
  text-align: right;
}
nav ul li a:after {
  display: none !important;
}

#about blockquote {
  margin: 1rem 0;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 1rem;
}
#about ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  row-gap: 1rem;
  list-style: none;
}
#about ul li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: var(--fz-xs);
}
#about ul li:before {
  content: "▹";
  position: absolute;
  left: 0;
  color: var(--green);
  font-size: var(--fz-sm);
  line-height: 20px;
}

#guidelines {
  margin-bottom: 1rem;
}

#contribute ol {
  color: var(--slate);
  font-size: var(--fz-xs);
  padding-left: 2rem;
}
@media (max-width: 600px) {
  #contribute ol {
    padding-left: 1rem;
  }
}

#files .container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 16px;
}
@media (max-width: 600px) {
  #files .container {
    flex-direction: column;
    margin: auto;
  }
}
#files .container h3 {
  width: 100%;
}
#files .container a {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 1rem 1.25rem;
  font-size: var(--fz-sm);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
}
#files .container a:hover {
  background-color: var(--green-tint);
}
#files .container a:focus, #files .container a:active {
  background-color: var(--green-tint);
  outline: 2px solid;
  outline-offset: 2px;
}
#files .container a:after {
  display: none !important;
}

.profile {
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  background-color: var(--light-navy);
  padding: 2rem 4rem;
  text-align: center;
  width: fit-content;
  margin: auto;
}
.profile ul {
  list-style: none;
  text-align: start;
}
.profile ul li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: var(--fz-xs);
}
.profile ul li:before {
  content: "▹";
  position: absolute;
  left: 0;
  color: var(--green);
  font-size: var(--fz-sm);
  line-height: 18px;
}
.profile .container > a {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 1rem 1.25rem;
  font-size: var(--fz-sm);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
}
.profile .container > a:hover {
  background-color: var(--green-tint);
}
.profile .container > a:focus, .profile .container > a:active {
  background-color: var(--green-tint);
  outline: 2px solid;
  outline-offset: 2px;
}
.profile .container > a:after {
  display: none !important;
}

.page-footer {
  padding: 2rem 10rem;
}
@media (max-width: 1024px) {
  .page-footer {
    padding: 2rem 5rem;
  }
}
@media (max-width: 768px) {
  .page-footer {
    padding: 2rem 1rem;
  }
}
.page-footer .container {
  text-align: center;
  font-size: var(--fz-sm);
}
.page-footer .container ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 16px;
  list-style: none;
  justify-content: center;
}
@media (max-width: 600px) {
  .page-footer .container ul {
    flex-direction: column;
    margin: auto;
  }
}
.page-footer .container ul a {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 1rem 1.25rem;
  font-size: var(--fz-sm);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  width: 100%;
}
.page-footer .container ul a:hover {
  background-color: var(--green-tint);
}
.page-footer .container ul a:focus, .page-footer .container ul a:active {
  background-color: var(--green-tint);
  outline: 2px solid;
  outline-offset: 2px;
}
.page-footer .container ul a:after {
  display: none !important;
}
.page-footer .container ul :nth-child(2) a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.page-footer .container ul :nth-child(2) a svg {
  height: var(--fz-md);
  fill: var(--green);
}

.skip-link {
  position: absolute;
  top: auto;
  left: -999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -99;
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 0.75rem 1rem;
  font-size: var(--fz-xs);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
}
.skip-link:focus, .skip-link:active {
  outline: none;
  background-color: var(--green);
  color: var(--navy);
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  overflow: auto;
  z-index: 99;
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  color: var(--green);
}
a:hover, a:focus, a:active {
  color: var(--green);
  outline: 0;
}
a:hover:after, a:focus:after, a:active:after {
  width: 100%;
}
a:hover > *, a:focus > *, a:active > * {
  color: var(--green) !important;
  transition: var(--transition);
}
a:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  position: relative;
  bottom: 0.2em;
  background-color: var(--green);
  transition: var(--transition);
  opacity: 0.8;
}

#styles {
  padding: 2rem 10rem;
}
@media (max-width: 1024px) {
  #styles {
    padding: 2rem 5rem;
  }
}
@media (max-width: 768px) {
  #styles {
    padding: 2rem 1rem;
  }
}
#styles .container {
  text-align: center;
}
#styles .container ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 16px;
  padding: 0;
}
@media (max-width: 768px) {
  #styles .container ul {
    flex-direction: column;
    align-items: center;
  }
}
#styles .container ul li {
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  background-color: var(--light-navy);
  padding: 4rem 3rem;
  width: 22rem;
  display: flex;
  justify-content: center;
  align-content: center;
}
@media (max-width: 600px) {
  #styles .container ul li {
    width: 100%;
  }
}
#styles .container ul li > span {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--white);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  background: var(--light-navy);
  justify-content: center;
}
#styles .container ul li:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23fff' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
#styles .container ul li:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23fff' fill-opacity='0.4'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
#styles .container ul li:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23fff' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
#styles .container > a {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 1rem 1.25rem;
  font-size: var(--fz-sm);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
}
#styles .container > a:hover {
  background-color: var(--green-tint);
}
#styles .container > a:focus, #styles .container > a:active {
  background-color: var(--green-tint);
  outline: 2px solid;
  outline-offset: 2px;
}
#styles .container > a:after {
  display: none !important;
}
