/*!
* LICENSE - style only: CC BY-NC-SA
* @link https://creativecommons.org/licenses/by-nc-sa/3.0/
* Graphics copyright of Alba Maldonado
* 
* Title: Modern stars
* Author: Alba Maldonado
* Website: N/A
* Twitter: @N/A
*
* View on Style Stage:
* @link https://stylestage.dev/styles/modern-stars/
*/



/*
Below use @import to include one or more Google Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,700;1,400;1,700&family=Manrope:wght@300;400;500&display=swap');

/*
Below use @import to include one CSS reset or normalize stylesheet of your choice
*/
@import 'normalize.css'; 

/*
Make the embedded svg small enough so it does not to overtake the page
*/
svg {
  width: 0.75em;
}

/*
Add more CSS here to override the default styles
as needed from the reset or normalize stylesheet

Refer to README.md for more information

*/
* {
  box-sizing: border-box;
}
 :root{
   --main-bg-color:#ECEAE1;
   --header-color:#000000;
   --border-underline:#962776;
   --body-text-color:#000000;
   --lighter-purple:#f4d7f2;
   --lighter-orange:#e6b799;
   --dark-orange:#BF5D21;
   --header-font: 'Caudex', serif;
   --header1-size: 5rem;
   --header2-size: 2rem;
   --nav-font-size:1.2rem;
   --header3-size:1.5rem;
   --container-font:1rem;
   --white-:white;
   --light-orange-2:#e6b79978;
  
 }
 /*prefers reduce motion accessibility */
 @media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

 body{
   background-color: var(--main-bg-color);
   line-height: 1.5;
   font-family: 'Manrope', sans-serif;
   min-width:40ch ;
  }
  a.skip-link {
    color:var(--body-text-color);
}
.skip-link {
    position: absolute;
    top: auto;
    left: -10000px;
    width: 1px;
    height: 1px;
    background-color: var(--lighter-purple);
    color: var(--body-text-color);
    font-size: 1.125rem;
    overflow: hidden;
}

.container
 {
  max-width: 80ch;
  margin: 10vh auto;
}
nav ul{
  margin-block-start: 2rem;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(10ch, 1fr));
  list-style: none;
  padding-inline:5rem;
  grid-gap:1rem;
  min-width: 30ch;
  margin: 3vh auto;
  max-width: 100%;
}
nav ul li{
  margin-inline: 1.5rem;
  
}

header{
  margin-block-start:3.5rem;
  border: 1.5px solid var(--header-color);
  min-height: 90vh;
  place-content: center;
  border-radius: 0.5%;
  padding-inline:2rem;
  min-width:50vh;
  padding-block:1.5rem;
  margin-inline:20px ; 
  background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 900 600' width='1500' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Cg fill='none' stroke='%23e6b799' stroke-width='4'%3E%3Cpath d='M0 -152.9L34.3 -47.2L145.4 -47.2L55.5 18L89.9 123.7L0 58.4L-89.9 123.7L-55.5 18L-145.4 -47.2L-34.3 -47.2Z' transform='translate(856 325)'%3E%3C/path%3E%3Cpath d='M0 -48.1L10.8 -14.9L45.8 -14.9L17.5 5.7L28.3 38.9L0 18.4L-28.3 38.9L-17.5 5.7L-45.8 -14.9L-10.8 -14.9Z' transform='translate(642 80)'%3E%3C/path%3E%3Cpath d='M0 -101L22.7 -31.2L96 -31.2L36.7 11.9L59.4 81.7L0 38.6L-59.4 81.7L-36.7 11.9L-96 -31.2L-22.7 -31.2Z' transform='translate(313 464)'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}


h1{
  -webkit-animation: fade-in-top 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-top 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-5-7 5:15:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}



h1{
  font-style: italic;
  font-weight:400 ;
  color:var(--header-color);
  font-size: var(--header1-size);
  margin: 0;
  font-family:var(--header-font) ;
  color: #000000;
}
header .container, h1{
  line-height: 1;
}

header .container h2{
font-size: var(--header2-size);
}

header .container, .p, .a  {
font-size: var(--nav-font-size);
line-height: 1.3;
font-weight:500;

}
.container a, 
nav ul li a{
  color: var(--body-text-color);
  text-decoration: 2px underline var(--border-underline);

}
 

header .container p{
  margin-block-end: 5rem;
}
header .link-github{
  text-decoration: none;
}
 header .link-github{
 background-color: var(--lighter-purple);
 padding:0.5rem;
 padding-block: 1rem;
 box-shadow: 4px 5px 1px 1px var(--lighter-orange);
}
header .link-github:hover {background-color:var(--white-)}

header .link-github:active {
  background-color: white;
  box-shadow:4px 5px 1px 1px var(--lighter-orange);
  transform: translateY(4px);
}
nav ul{
  font-size: var(--nav-font-size);
  background-color: var(--lighter-purple);
 padding:0.5rem;
 padding-block: 1.5rem;
 box-shadow: 4px 5px 8px 1px var(--lighter-orange);
 margin-block: 8rem;
}

nav ul li a{
  text-decoration: 3px underline var(--border-underline);
}
nav ul li a {
  display: inline-block;
  position: relative;
  
}

nav ul li a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--lighter-orange);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav ul li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

section.container{
  line-height: 2.2;
  margin: 3vh;
  font-size: var(--container-font);
}

blockquote{
  margin-block: 5rem;
  background-color: var(--lighter-purple);
 padding:0.5rem;
 padding-block: 1rem;
 box-shadow: 4px 5px 8px 1px var(--lighter-orange);
}
h2{
  line-height: 1.2;
  font-size: var(--header2-size);
}

article#about ul {
	margin: 0;
	padding: 15px;
	list-style-type: none;
}

article#about li {
	padding: 0 1 0 24px;
	line-height: 1.6;
	position: relative;
}
article#about li::before {
	content: "";
	display: block;
	border-radius: 4px;
	width: 8px;
	height: 8px;
	background-color: var(--border-underline);
	position: absolute;
	top: 13px;
	left: -10px;
	transform: translate(-50%, -50%);
}

h3{
  font-size: var(--header3-size);
  line-height: 1;
}

#guidelines p{
  margin-block-end: 1.5rem;
}
a.link-guidelines{
  text-decoration: none;
  background-color: var(--lighter-purple);
 padding:0.5rem;
 padding-block: 1rem;
 box-shadow: 4px 5px 1px 1px var(--lighter-orange);
 font-size: var(--nav-font-size);
 font-weight: 500;
}

a.link-guidelines:hover {background-color:var(--white-)}

a.link-guidelines:active {
  background-color: white;
  box-shadow:4px 5px 1px 1px var(--lighter-orange);
  transform: translateY(4px);
}
a:not([class]) {
  text-underline-offset: 0.25em;
  
}

article#guidelines{
  margin-block-end:4rem ;
}

ol{
  border-left:1.5px solid var(--border-underline) ;
}

#files .container{
  background-color: var(--lighter-purple);
  box-shadow: 4px 5px 8px 1px var(--lighter-orange);
  padding-inline:20px ;
  padding-block: 5px;
  line-height: 2;
  font-size: var(--nav-font-size);
    
}

#files .container a:after{
    content: "";
    display: block;
    height: 0;
    width: 1px;
    line-height: 1.5;
}
.profile{
  display: grid;
  justify-items: center;
 
}

.profile .container {

  background-color: var(--light-orange-2);
  padding-block: 2rem;
  margin: 3vh;
  max-width: 400px;
  padding-inline:50px;
  line-height: 3;
  font-weight: 500;
  
}

li.profile-title::marker{
color:var(--border-underline) ;
}
li.profile-author::marker{
  color:var(--border-underline) ;
  }
  li.profile-twitter::marker{
    color:var(--border-underline) ;
    }
    li.profile-website::marker{
      color:var(--border-underline) ;
      }

  
      #styles .container{
        display: grid;
        justify-items: center;
        border: 1px solid var(--header-color);
        min-height: 20vh;
        place-content: center;
        background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 800 675' width='400' height='750' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Cg fill='none' stroke='%23e6b799' stroke-width='4'%3E%3Cpath d='M0 -141.6L31.8 -43.7L134.6 -43.7L51.4 16.7L83.2 114.5L0 54.1L-83.2 114.5L-51.4 16.7L-134.6 -43.7L-31.8 -43.7Z' transform='translate(27 494)'%3E%3C/path%3E%3Cpath d='M0 -44.4L10 -13.7L42.2 -13.7L16.1 5.2L26.1 35.9L0 16.9L-26.1 35.9L-16.1 5.2L-42.2 -13.7L-10 -13.7Z' transform='translate(885 196)'%3E%3C/path%3E%3Cpath d='M0 -103.8L23.3 -32.1L98.7 -32.1L37.7 12.3L61 84L0 39.7L-61 84L-37.7 12.3L-98.7 -32.1L-23.3 -32.1Z' transform='translate(319 127)'%3E%3C/path%3E%3Cpath d='M0 -48.1L10.8 -14.9L45.8 -14.9L17.5 5.7L28.3 38.9L0 18.4L-28.3 38.9L-17.5 5.7L-45.8 -14.9L-10.8 -14.9Z' transform='translate(600 605)'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
        min-width:50vh;
        padding-block:1.5rem;
        margin-block-end: 10rem;
      }

      #styles .container .features{
        line-height: 2;
      
      }
      #styles .container a[class] {
        background-color: var(--lighter-purple);
        box-shadow: 4px 5px 1px 1px var(--light-orange);
        padding:0.5rem;
        padding-block: 1rem;
        font-weight: 500;
      
      }

      #styles .container a[class]:hover {background-color:var(--white-)}

      #styles .container a[class] :active {
      background-color: white;
      box-shadow:4px 5px 1px 1px var(--lighter-orange);
      transform: translateY(4px);
       }
      .page-footer{
        display: flex;
       
      }
       .page-footer p:first-of-type {
         font-weight: 800;
       }
      .page-footer {
        line-height: 2;
        box-sizing: content-box;
        background-color: var(--lighter-purple);
        max-width: 100%;
       min-width: 320px;
       place-content: center;
        justify-items: center;
      }
      .page-footer .container{
        margin: 5vh;
        max-width:60ch;
      }
      .page-footer .container li::marker{
        color:var(--border-underline) 
      }

    
