/*!
* LICENSE - style only: CC BY-NC-SA
* @link https://creativecommons.org/licenses/by-nc-sa/3.0/
* Graphics copyright of Inès K.
* 
* Title: Retro Cyberpunk
* Author: Inès K.
* Website: N/A
* Twitter: @inescodes
*
* View on Style Stage:
* @link https://stylestage.dev/styles/retro-cyberpunk/
*/


@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Share+Tech+Mono&display=swap");

:root {
  --font-body: "Share Tech Mono", monospace;
  --font-headings: "Audiowide", cursive;
  --neon-pink: 341, 100%, 58%;
  --neon-blue: 184, 96%, 46%;
  --very-light-blue: 190, 100%, 91%;
  --dark-blue: 240, 95%, 9%;
  --yellow: 44, 97%, 72%;
  --border: hsl(var(--neon-blue)), hsl(var(--neon-pink)), hsl(var(--neon-blue));
  --background-lines: linear-gradient(
      hsla(184, 96%, 46%, 0) 90%,
      hsla(184, 96%, 46%, 0.25) 95%
    )
    top left / 100% 0.5rem;
}

/* disable animations */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Global Styles */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 1rem;
  margin: 1rem auto;
  background: hsl(var(--dark-blue)) var(--background-lines);
  color: hsl(var(--very-light-blue));
  font-family: var(--font-body);
  text-align: center;
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 2vw, 3rem);
  line-height: 1.5rem;
  line-height: clamp(1.5rem, 2vw, 3rem);
  overflow-x: hidden;
}

@media screen and (min-width: 769px) {
  body {
    margin-left: 13rem;
    max-width: calc(100vw- 13rem);
  }
}

h1,
h2,
h3,
h4 {
  color: hsl(var(--yellow));
  font-family: var(--font-headings);
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.5vw, 3rem);
  margin-top: 2rem;
}

a,
li,
p,
span {
  font-size: inherit;
  line-height: inherit;
}

strong {
  color: hsl(var(--yellow));
}

p {
  margin: 1.5rem;
  text-align: left;
}

li {
  list-style-type: none;
  margin-top: 1rem;
}

a {
  position: relative;
  color: hsl(var(--neon-pink));
}

a:hover,
a:active {
  color: hsl(var(--very-light-blue));
  top: -0.03rem;
  left: -0.03rem;
  filter: drop-shadow(0 0 0.2rem hsla(var(--neon-pink), 0.4))
    drop-shadow(0.5rem 0.5rem 0.2rem hsla(var(--neon-pink), 0.6))
    drop-shadow(-0.5rem 0.5rem 0.2rem hsla(var(--neon-pink), 0.6))
    drop-shadow(0.5rem -0.5rem 0.2rem hsla(var(--neon-pink), 0.6))
    drop-shadow(-0.5rem -0.5rem 0.2rem hsla(var(--neon-pink), 0.6));
}

main h2,
aside h4,
aside h2 {
  z-index: 3;
  position: relative;
  font-size: 2rem;
  font-size: clamp(2rem, 4vw, 4rem);
  line-height: 2rem;
  line-height: clamp(2rem, 7vw, 4rem);
}

.page-footer,
aside,
header,
#about .container,
#guidelines,
#contribute {
  width: 100%;
  border: 0.4rem solid hsl(var(--neon-blue));
  padding: 2rem 0.6rem;
  margin-top: 2em;
  background-color: hsl(var(--dark-blue));
  -webkit-border-image: linear-gradient(45deg, var(--border)) 1% stretch;
  -moz-border-image: linear-gradient(45deg, var(--border)) 1% stretch;
  border-image: linear-gradient(45deg, var(--border)) 1% stretch;
}

@media screen and (min-width: 769px) {
  .page-footer,
  aside,
  header,
  #about .container,
  #guidelines,
  #contribute {
    padding: 2rem;
  }
}

header h1::before,
main h2::before,
aside h2::before,
aside h4::before {
  z-index: -1;
  position: absolute;
  top: 0.2rem;
  left: -0.2rem;
  width: 100%;
  height: 100%;
  color: hsl(var(--neon-pink));
  opacity: 0.7;
  -webkit-animation: glitch 0.3s linear infinite alternate-reverse;
  animation: glitch 0.3s linear infinite alternate-reverse;
}

header h1::after,
main h2::after,
aside h2::after,
aside h4::after {
  z-index: -1;
  position: absolute;
  top: 0.1rem;
  left: 0.2rem;
  width: 100%;
  height: 100%;
  color: hsl(var(--neon-blue));
  opacity: 0.7;
  -webkit-animation: glitch 0.3s 0.1s linear infinite alternate-reverse;
  animation: glitch 0.3s 0.1s linear infinite alternate-reverse;
  -webkit-clip-path: polygon(3% 100%, 14% 28%, 67% 15%, 103% 67%);
  clip-path: polygon(3% 100%, 14% 28%, 67% 15%, 103% 67%);
}

a[href="/styles/css/retro-cyberpunk.css"],
#files a,
.link-allstyles,
.link-guidelines,
.link-twittercontact,
.link-rss,
.link-support,
.link-github {
  display: block;
  margin: 2rem auto 0 auto;
  border: 0.2rem solid hsl(var(--yellow));
  padding: 1rem 0.6rem;
  width: auto;
  width: min(65vw, 25rem);
  color: hsl(var(--neon-blue));
  text-decoration: none;
}

@media screen and (min-width: 1441px) {
  a[href="/styles/css/retro-cyberpunk.css"],
  #files a,
  .link-allstyles,
  .link-guidelines,
  .link-twittercontact,
  .link-rss,
  .link-support,
  .link-github {
    padding: 2rem;
    width: 35rem;
  }
}

a[href="/styles/css/retro-cyberpunk.css"]:hover,
#files a:hover,
.link-allstyles:hover,
.link-guidelines:hover,
.link-github:hover,
.link-twittercontact:hover,
.link-rss:hover,
.link-support:hover {
  position: relative;
  top: -0.1rem;
  right: 0.1rem;
  -webkit-filter: none;
  filter: none;
  -webkit-box-shadow: 0px 0px 25px hsl(var(--yellow));
  box-shadow: 0px 0px 25px hsl(var(--yellow));
  border-color: hsl(var(--very-light-blue));
}

/* skip-link */
.skip-link,
.skip-link:hover {
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  padding: 0.3rem;
  background-color: hsl(var(--dark-blue));
  font-size: 1rem;
  filter: none;
}

@media screen and (min-width: 769px) {
  .skip-link,
  .skip-link:hover {
    top: 2rem;
    left: 0.8rem;
    right: auto;
  }
}

/* header */
header {
  z-index: 2;
  position: relative;
  margin-top: 0;
}

header h1 {
  z-index: 3;
  position: relative;
  max-width: 30rem;
  margin: 0 auto;
  font-size: 3.5rem;
  font-size: clamp(3.5rem, 10vw, 6rem);
  line-height: 3.5rem;
  line-height: clamp(3.5rem, 10vw, 6rem);
  overflow: hidden;
  opacity: 0.9;
}

header h1::before {
  content: "Style Stage";
}

header h1::after {
  content: "Style Stage";
}

header h2 {
  margin: 1rem auto 0 auto;
  max-width: 50rem;
  width: clamp(15rem, 55vw, 50rem);
  color: hsl(var(--very-light-blue));
  font-size: 2rem;
  font-size: clamp(2rem, 4vw, 4rem);
  font-family: var(--font-body);
  text-transform: none;
  line-height: 2rem;
  line-height: clamp(2rem, 3.5vw, 4rem);
}

header p {
  text-align: center;
}

.link-github svg {
  width: 1.5rem;
  vertical-align: middle;
  stroke: hsl(var(--neon-pink));
  stroke-width: 0.15rem;
  fill: transparent;
}

/* navigation */
nav {
  border: 0.4rem solid hsl(var(--neon-blue));
  margin-top: 2rem;
  border-image: linear-gradient(-45deg, var(--border)) 10% stretch;
  background-color: hsl(var(--dark-blue));
}

nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

nav li {
  margin-top: 0;
  border-style: dashed;
  border-color: hsl(var(--neon-blue));
  border-width: 0.1rem;
  border-bottom-width: 0;
  padding: 0.5rem;
  padding: clamp(0.5rem, 3vw, 0.8rem);
  width: 100%;
  text-align: center;
}

nav a {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

nav li:nth-child(2n) {
  border-right-width: 0;
  border-left-width: 0;
}

nav li:nth-child(2n + 1) {
  border-left-width: 0;
}

nav li:nth-child(-n + 2) {
  border-top-width: 0;
}

@media screen and (min-width: 426px) {
  nav ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  nav li:nth-child(n) {
    border-width: 0;
  }

  nav li:nth-child(-n + 3) {
    border-bottom-width: 0.1rem;
  }

  nav li:nth-child(3n + 2) {
    border-right-width: 0.1rem;
    border-left-width: 0.1rem;
  }
}

@media screen and (min-width: 769px) {
  nav a {
    font-size: clamp(0.85rem, 5vw, 1.6rem);
  }
  nav {
    position: fixed;
    left: 0;
    top: 3.5rem;
    width: 13rem;
  }

  nav ul {
    -ms-grid-columns: none;
    grid-template-columns: none;
    gap: 0;
  }

  nav li:nth-child(n) {
    border-width: 0;
  }

  nav li:nth-child(-n + 5) {
    border-bottom-width: 0.1rem;
  }
}

/* main content */
main {
  max-width: 100%;
  width: 100%;
  outline: none;
}

main p {
  margin: 1.5rem 0;
}

#about :first-child h2::before,
#about :first-child h2::after {
  content: "Setting the Stage";
}

#about :last-child h2::before,
#about :last-child h2::after {
  content: "Modern CSS Under the Spotlight";
}

#about ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2.5rem auto;
}

@media screen and (min-width: 426px) {
  #about ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

#about li {
  font-size: initial;
  height: fit-content;
  height: -moz-fit-content;
  margin: 1.6rem 1rem;
  border: 0.2rem solid hsl(var(--very-light-blue));
  padding: 1rem;
  max-width: 70vw;
  border-radius: 15%;
  background: hsl(var(--dark-blue));
  -webkit-box-shadow: 0 0 1.2rem hsla(var(--neon-blue), 0.3),
    0.1rem 0.1rem 1.2rem hsla(var(--neon-blue), 0.3),
    -0.1rem 0.1rem 1.2rem hsla(var(--neon-blue), 0.3),
    0.1rem -0.1rem 1.2rem hsla(var(--neon-blue), 0.3),
    -0.1rem -0.1rem 1.2rem hsla(var(--neon-blue), 0.3),
    0 0 1.5rem hsla(var(--neon-blue), 0.4) inset,
    0.1rem 0.1rem 1.5rem hsla(var(--neon-blue), 0.2) inset,
    -0.1rem 0.1rem 1.5rem hsla(var(--neon-blue), 0.2) inset,
    0.1rem -0.1rem 1.5rem hsla(var(--neon-blue), 0.2) inset,
    -0.1rem -0.1rem 1.5rem hsla(var(--neon-blue), 0.2) inset;
  box-shadow: 0 0 1.2rem hsla(var(--neon-blue), 0.3),
    0.1rem 0.1rem 1.2rem hsla(var(--neon-blue), 0.3),
    -0.1rem 0.1rem 1.2rem hsla(var(--neon-blue), 0.3),
    0.1rem -0.1rem 1.2rem hsla(var(--neon-blue), 0.3),
    -0.1rem -0.1rem 1.2rem hsla(var(--neon-blue), 0.3),
    0 0 1.5rem hsla(var(--neon-blue), 0.4) inset,
    0.1rem 0.1rem 1.5rem hsla(var(--neon-blue), 0.2) inset,
    -0.1rem 0.1rem 1.5rem hsla(var(--neon-blue), 0.2) inset,
    0.1rem -0.1rem 1.5rem hsla(var(--neon-blue), 0.2) inset,
    -0.1rem -0.1rem 1.5rem hsla(var(--neon-blue), 0.2) inset;
}

@media screen and (min-width: 426px) {
  #about ul {
    max-width: 80%;
  }
  #about li {
    font-size: inherit;
    margin: 1.5vw;
  }
}

#about li:nth-child(3n) {
  -webkit-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
}

#about li:nth-child(2n + 2) {
  -webkit-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}

#about li:nth-child(3n):hover,
#about li:nth-child(2n + 2):hover {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation: flicker 0.4s linear;
  animation: flicker 0.4s linear;
}

blockquote {
  position: relative;
  margin: 1rem 0 1rem 3.5rem;
}

blockquote::before {
  content: "";
  z-index: 2;
  position: absolute;
  width: 0.5rem;
  height: 100%;
  background-color: hsla(var(--very-light-blue), 0.25);
  top: 0;
  left: -2rem;
  border-radius: 30%;
  -webkit-filter: drop-shadow(0 0 0.2rem hsla(var(--neon-blue), 0.6))
    drop-shadow(0.2rem 0.5rem 0.2rem hsla(var(--neon-blue), 0.6))
    drop-shadow(-0.2rem 0.5rem 0.2rem hsla(var(--neon-blue), 0.6))
    drop-shadow(0.2rem -0.5rem 0.2rem hsla(var(--neon-blue), 0.6))
    drop-shadow(-0.2rem -0.5rem 0.2rem hsla(var(--neon-blue), 0.6));
  filter: drop-shadow(0 0 0.2rem hsla(var(--neon-blue), 0.6))
    drop-shadow(0.2rem 0.5rem 0.2rem hsla(var(--neon-blue), 0.6))
    drop-shadow(-0.2rem 0.5rem 0.2rem hsla(var(--neon-blue), 0.6))
    drop-shadow(0.2rem -0.5rem 0.2rem hsla(var(--neon-blue), 0.6))
    drop-shadow(-0.2rem -0.5rem 0.2rem hsla(var(--neon-blue), 0.6));
}

blockquote::after {
  content: "";
  z-index: 3;
  position: absolute;
  width: 0.5rem;
  height: 100%;
  top: 0;
  left: -2rem;
  border-radius: 15%;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(1%, hsla(var(--very-light-blue), 0)),
    color-stop(35%, hsla(var(--very-light-blue), 0.9)),
    color-stop(99%, hsla(var(--very-light-blue), 0))
  );
  background-image: -o-linear-gradient(
    hsla(var(--very-light-blue), 0) 1%,
    hsla(var(--very-light-blue), 0.8) 35% 60%,
    hsla(var(--very-light-blue), 0) 99%
  );
  background-image: linear-gradient(
    hsla(var(--very-light-blue), 0) 1%,
    hsla(var(--very-light-blue), 0.8) 35% 60%,
    hsla(var(--very-light-blue), 0) 99%
  );
  background-position: top left;
  background-size: 100% 30%;
  background-repeat: no-repeat;
  animation: blockquoteanim 1s linear infinite alternate-reverse;
}

#guidelines h2::before,
#guidelines h2::after {
  content: "Guidelines";
}

#contribute h2::before,
#contribute h2::after {
  content: "Contribute";
}

#contribute ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 3.5rem;
  counter-reset: contribution-steps;
}

#contribute li {
  position: relative;
  margin-top: 1rem;
  text-align: left;
  counter-increment: contribution-steps;
}

#contribute li::before {
  box-sizing: content-box;
  content: counter(contribution-steps);
  position: absolute;
  top: 0rem;
  left: -3.5rem;
  border: 0.2rem solid hsl(var(--neon-blue));
  width: fit-content;
  width: -moz-fit-content;
  height: fit-content;
  height: -moz-fit-content;
  border-radius: 50%;
  padding: 0 0.5rem;
  color: hsl(var(--neon-blue));
  text-align: center;
}

#contribute li:hover:before {
  color: hsl(var(--very-light-blue));
  border-color: hsl(var(--very-light-blue));
  -webkit-box-shadow: 0 0 1rem hsla(var(--neon-blue), 0.3),
    0.05rem 0.05rem 1rem hsla(var(--neon-blue), 0.3),
    -0.05rem 0.05rem 1rem hsla(var(--neon-blue), 0.3),
    0.05rem -0.05rem 1rem hsla(var(--neon-blue), 0.3),
    -0.05rem -0.05rem 1rem hsla(var(--neon-blue), 0.3),
    0 0 0.1rem hsla(var(--neon-blue), 0.4) inset,
    0.05rem 0.05rem 0.5rem hsla(var(--neon-blue), 0.2) inset,
    -0.05rem 0.05rem 0.5rem hsla(var(--neon-blue), 0.2) inset,
    0.05rem -0.05rem 0.5rem hsla(var(--neon-blue), 0.2) inset,
    -0.05rem -0.05rem 0.5rem hsla(var(--neon-blue), 0.2) inset;
  box-shadow: 0 0 1rem hsla(var(--neon-blue), 0.3),
    0.05rem 0.05rem 1rem hsla(var(--neon-blue), 0.3),
    -0.05rem 0.05rem 1rem hsla(var(--neon-blue), 0.3),
    0.05rem -0.05rem 1rem hsla(var(--neon-blue), 0.3),
    -0.05rem -0.05rem 1rem hsla(var(--neon-blue), 0.3),
    0 0 0.1rem hsla(var(--neon-blue), 0.4) inset,
    0.05rem 0.05rem 0.5rem hsla(var(--neon-blue), 0.2) inset,
    -0.05rem 0.05rem 0.5rem hsla(var(--neon-blue), 0.2) inset,
    0.05rem -0.05rem 0.5rem hsla(var(--neon-blue), 0.2) inset,
    -0.05rem -0.05rem 0.5rem hsla(var(--neon-blue), 0.2) inset;
}

#files {
  margin-top: 1.5rem;
}

@media screen and (min-width: 990px) and (max-width: 1440px) {
  #files a {
    width: 100%;
  }
}

@media screen and (min-width: 990px) {
  #files .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: -webkit-min-content -webkit-min-content;
    -ms-grid-rows: min-content min-content;
    grid-template-rows: -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content;
    gap: 1rem;
  }

  #files a {
    margin-top: 0.5rem;
  }

  #files .container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  #files .container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  #files .container > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  #files .container > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  #files .container > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  #files .container > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }

  #files .container h3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

/* profile */
aside h4::before,
aside h4::after {
  content: "Currently Staged Style";
}

aside ul {
  margin-top: 1.5rem;
}

/* featured styles */
aside h2::before,
aside h2::after {
  content: "Featured Styles";
}

/* .page-footer */
.page-footer ul,
.page-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.page-footer li {
  margin: 1rem auto;
}

.page-footer a {
  margin: 0;
}

@media screen and (min-width: 990px) {
  .page-footer ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0.5rem 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 0.5rem min-content 0.5rem min-content;
    grid-template-rows: min-content min-content;
    gap: 2rem;
    justify-items: center;
    margin: 2rem;
  }

  .page-footer ul :nth-child(1) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }

  .page-footer ul :nth-child(2) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }

  .page-footer ul :nth-child(3) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }

  .page-footer ul :nth-child(4) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }

  .page-footer li {
    margin: 0;
  }

  .page-footer a {
    margin: 0;
    width: clamp(20rem, 30vw, 40rem);
    height: 100%;
  }
}

/* animations */
@keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-0.1rem, -0.1rem);
    transform: translate(-0.1rem, -0.1rem);
  }
  40% {
    -webkit-transform: translate(-0.1rem, -0.1rem);
    transform: translate(-0.1rem, -0.1rem);
  }
  60% {
    -webkit-transform: translate(0.1rem, 0.1rem);
    transform: translate(0.1rem, 0.1rem);
  }
  80% {
    -webkit-transform: translate(0.1rem, -0.1rem);
    transform: translate(0.1rem, -0.1rem);
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@-webkit-keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-0.1rem, -0.1rem);
    transform: translate(-0.1rem, -0.1rem);
  }
  40% {
    -webkit-transform: translate(-0.1rem, -0.1rem);
    transform: translate(-0.1rem, -0.1rem);
  }
  60% {
    -webkit-transform: translate(0.1rem, 0.1rem);
    transform: translate(0.1rem, 0.1rem);
  }
  80% {
    -webkit-transform: translate(0.1rem, -0.1rem);
    transform: translate(0.1rem, -0.1rem);
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@-webkit-keyframes blockquoteanim {
  from {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(70%);
    transform: translateY(70%);
  }
}

@keyframes blockquoteanim {
  from {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(70%);
    transform: translateY(70%);
  }
}

@-webkit-keyframes flicker {
  50% {
    border-color: hsl(184, 96%, 46%, 0.5);
  }
}

@keyframes flicker {
  50% {
    border-color: hsl(184, 96%, 46%, 0.5);
  }
}
