/*!
* LICENSE - style only: CC BY-NC-SA
* @link https://creativecommons.org/licenses/by-nc-sa/3.0/
* Graphics copyright of Lakshmikant.K
* 
* Title: Vibrant
* Author: Lakshmikant.K
* Website: https://fcc-web.netlify.app/personal-portfolio
* Twitter: @N/A
*
* View on Style Stage:
* @link https://stylestage.dev/styles/vibrant/
*/

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body a {
    color: inherit;
    text-decoration: none;
}

body li {
    list-style: none;
}

body a:hover, body a:focus {
    text-decoration: underline dashed;
}

:root {
    --bg-color: #000;
    --primary-text-color: #ddd;
    --primary-color: #ff60b5;
    --secondary-color: #f282d9;
    --text-fill-color: #e2d5dc;
    --para-size: 1.8rem;
    --tiny-size: 1.6rem;
    --nav-font-size:1.4rem;
    --h1-size: 10rem;
    --h2-size: 3.5rem;
    --h3-size: 2.5rem;
    --primary-font: 'Josefin Sans', sans-serif;
    --heading-font: 'Bangers', cursive;
    --line-height: 3rem;
    --letter-spacing: .5rem;
    --li-box-padding: .5rem 1.2rem;
    --box-padding: 1rem;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-text-color);
    font-size: var(--para-size);
    font-family: var(--primary-font);
    font-weight: bold;
    overflow-x: hidden;
}

/* --scroll bar start-- */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #333;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right top, #ff0000, #ff014e, #ff3886, #ff60b5, #f282d9);
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to left bottom, #ff0000, #ff014e, #ff3886, #ff60b5, #f282d9);
}

::selection {
    background-color: var(--primary-color);
}

a::selection {
    color: #dddddd99;
}
/* --scroll bar end-- */

.skip-link {
    position: absolute;
    color: #fff;
    left: 0;
    transform: translate(-200%);
    font-size: var(--tiny-size)
}

.skip-link:focus {
    transform: unset;
}

.skip-link:hover {
    text-decoration: none;
}

/* --header start-- */
header {
    display: flex;
    height: 100vh;
    padding: 5rem 0;
    justify-content: center;
    align-items: center;
    user-select: none;
}

header::after, header::before {
    content: '';
    position: absolute;
    width: 100vh;
    height: 100vh;
    border-radius: 1rem;
    background-image: linear-gradient(to right top, #ff0000, #ff014e, #ff3886, #ff60b5, #f282d9);
    overflow-x: hidden;
    animation: open-aft 1.2s 1 forwards ease-in-out;
}

header::before {
    animation: open-bef 1.2s 1 forwards ease-in-out;
}

/* --opening animation-- */
@keyframes open-aft {
    0% {
        right: 5%;
        transform: scale(.75);
    }
    100% {
        right: -870px;
        transform: rotate(.87turn) scale(1);
    }
}

@keyframes open-bef {
    0% {
        left: 5%;
        transform: scale(.75);
    }
    100% {
        left: -870px;
        transform: rotate(.87turn) scale(1);
    }
}

header>.container {
    font-family: 'Bangers', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: show .5s .5s 1 forwards ease-in-out;
    transform: scale(0);
}

@keyframes show {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

header>.container h1 {
    width: 100%;
    text-align: center;
    font-size: var(--h1-size);
    background-image: linear-gradient(to right top, #ff0000, #ff014e, #ff3886, #ff60b5, #f282d9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--text-fill-color);
    -webkit-text-stroke: 15px transparent;
    margin-bottom: 4rem;
    text-shadow: 2px 2px 5px #333;
}

header>.container h2 {
    font-size: var(--h3-size);
    letter-spacing: var(--letter-spacing);
    text-align: center;
    width: 65%;
    text-shadow: 2px 5px 20px #ffffff99;
    margin-bottom: 3rem;
    height: 100px;
}

header>.container h2:hover {
    animation: expand 2s infinite linear;
}

@keyframes expand {
    0%, 100% {
        text-shadow: 2px 5px 20px #ffffff99;
        letter-spacing: var(--letter-spacing);
    }
    35% {
        text-shadow: 4px 5px 50px #ffffff;
        letter-spacing: calc(var(--letter-spacing) * 1.2);
    }
    75% {
        letter-spacing: calc(var(--letter-spacing) * .2);
    }
}

header>.container p {
    text-align: center;
    margin: 0 2rem;
    padding: 0.5rem 1rem;
    border-left: 5px solid #f282d9;
    letter-spacing: calc(var(--letter-spacing) * .5);
    line-height: var(--line-height);
}

header>.container p a {
    color: #f282d9;
    font-weight: bold;
}

header>.container>a {
    margin-top: 3rem;
    box-shadow: 3px 2px 10px var(--secondary-color), -2px -3px 10px var(--secondary-color);
    padding: .5rem 1rem;
    border-radius: 1rem 0;
    display: flex;
    align-items: center;
    transition: transform .5s ease-in-out;
}

header>.container>a:hover, header>.container>a:focus {
    transform: scale(1.1);
    text-decoration: unset;
}

header>.container>a:focus{
    outline: unset;
    text-decoration: underline dashed;
}

header>.container a svg {
    width: 20px;
    margin-right: .5rem;
}

header>.container a path {
    fill: #f282d9;
}
/* --header start-- */

/* --nav bar start-- */
nav {
    font-family: var(--heading-font);
    font-size: var(--nav-font-size);
    background-color: #111;
    box-shadow: 0px -8px 20px #f282d990;
    width: 700px;
    height: 55px;
    position: sticky;
    top: 0;
    left: 100%;
    transform-origin: 100% 0;
    transform: rotate(-.25turn) translate(-5px, -100%);
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

nav ul li {
    flex-grow: 1;
    padding: 1rem;
    transition: all .2s linear;
}

nav ul li:not(:last-child) {
    border-right: 4px solid var(--primary-color);
}

nav ul li:hover, nav ul li:focus {
    box-shadow: 0px -5px 10px var(--secondary-color);
    padding: 1rem 2rem;
}

nav a:hover, nav a:focus {
    text-decoration: unset;
}
/* --nav bar end-- */

/* --main start-- */
main, .page-footer {
    line-height: var(--line-height);
}

main {
    width: 80%;
    margin: auto;
    position: relative;
}

/* --stroke text style-- */
main h2, #styles .container h2 {
    padding-left: .5rem;
    font-size: var(--h2-size);
    font-family: var(--heading-font);
    background-image: linear-gradient(to right top, #ff0000, #ff014e, #ff3886, #ff60b5, #f282d9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--text-fill-color);
    -webkit-text-stroke: 5px transparent;
    text-shadow: 2px 2px 5px #333;
    margin: 2rem 0;
    position: relative;
    padding: .3rem 1.1rem;
    border-left: 7px solid #ff3886;
    cursor: default;
    transition: transform .5s linear, letter-spacing .5s linear;
    line-height: 3rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

main h2:hover, #styles .container h2:hover {
    transform: rotate(1deg);
    letter-spacing: var(--letter-spacing);
}

main h2::after, #styles .container h2:after {
    content: '';
    height: 8px;
    width: 8px;
    background-color: #ff3886;
    position: absolute;
    top: 0;
    left: -0%;
    animation: rot 1s infinite linear;
}

main a {
    color: var(--secondary-color);
}

main p {
    margin-bottom: 2rem;
}

main .container {
    margin: 5rem 0;
}

#about .container blockquote {
    width: 90%;
    max-width: 600px;
    margin: 4rem 0;
    box-shadow: 3px 3px 10px #ffffff50;
}

#about .container blockquote strong {
    padding: .5rem 2rem .5rem 1rem;
    margin-bottom: 1rem;
    display: block;
    border-bottom: 5px solid var(--primary-color);
    font-family: var(--heading-font);
    color: #888;
    letter-spacing: calc(var(--letter-spacing) * .25);
    font-size: var(--h3-size);
    animation: glow 3s infinite ease-in-out;
}

@keyframes glow {
    0%, 100% {
        color: #888;
    }
    50% {
        color: #bbb;
        text-shadow: 1px 1px 10px #888;
    }
}

#about .container blockquote p {
    padding: 1rem;
}

#about :last-child {
    margin-bottom: 5rem;
}

#about :last-child ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 0 3.5rem;
}

#about :last-child li {
    font-size: var(--tiny-size);
}

/* -- box style -- */
#about :last-child li, .link-guidelines, #files a {
    border: 3px solid var(--primary-color);
    margin: 1.2rem 0.8rem;
    padding: var(--li-box-padding);
    border-radius: 1rem 0 1rem 0;
    cursor: default;
    transition: all .3s linear;
}

#about :last-child li:hover, .link-guidelines:hover, #files a:hover, .page-footer li:hover, #about :last-child li:focus, .link-guidelines:focus, #files a:focus, .page-footer li:focus {
    border-radius: 2rem 0 1rem 0;
    box-shadow: 5px 4px 1px var(--primary-color);
    text-shadow: 1px 1px 10px var(--primary-text-color);
    outline: unset;
}

#guidelines h3 {
    color: #ff60b5;
    text-decoration: underline;
    transform: rotate(1deg);
}

#guidelines p:nth-of-type(2) {
    width: 90%;
    max-width: 900px;
    margin: 1rem 0 3rem;
    padding: 2rem;
    box-shadow: 3px 5px 20px #725f5f50, -2px -2px 10px #ffffff50;
    transform: rotate(1deg);
}

.link-guidelines {
    padding: var(--box-padding);
    color: var(--primary-text-color);
}

.link-guidelines:hover, .link-guidelines:focus {
    text-decoration: unset;
}

#contribute :nth-child(2) h3 {
    text-transform: uppercase;
    border-left: 5px solid #ff60b5;
    box-shadow: -3px 4px 7px #ffffff50, 0 -1px 5px #ffffff50;
    padding: 1rem 1.2rem;
    font-size: var(--h3-size);
    border-radius: .5rem;
    line-height: 2.5rem;
    display: block;
    width: 100%;
    max-width: 500px;
}

#contribute ol {
    margin: 3rem 4rem;
}

#contribute li::before {
    content: '\2B16';
    color: var(--primary-color);
    margin-right: 1rem;
    transform: rotate(3deg);
}

#files .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#files .container h3 {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

#files .container h3::before {
    content: '\1F5C1';
    color: var(--primary-color);
    margin-right: 1rem;
}

#files a {
    color: var(--primary-text-color);
    padding: var(--box-padding);
    text-decoration: none;
    margin: 0 2rem 4rem;
}
/* --main end-- */

.profile .container, #styles li {
    margin: 6rem auto;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    border: 5px solid var(--primary-color);
    padding: 2rem;
    position: relative;
}

/* --pseudo circle style-- */
.profile .container::before, .profile .container::after, #styles li::after, #styles li::before {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    top: -15px;
    left: -25px;
    background-color: var(--bg-color);
    overflow: hidden;
    border: 5px solid var(--primary-color);
    border-radius: 50%;
}

.profile .container::after, #styles li::after {
    background-color: #fff;
    border: unset;
    transform: scale(.5);
    border-bottom: 15px solid var(--primary-color);
    animation: rotate 3s infinite linear;
}

/* --rotating circle animation-- */
@keyframes rotate {
    0% {
        transform: rotate(0turn) scale(.5);
    }
    50% {
        transform: rotate(.5turn) scale(.65);
        border-bottom: 15px solid #ff014e;
    }
    100% {
        transform: rotate(1turn) scale(.5);
    }
}

.profile .container h4 {
    font-size: 2.5rem;
    padding-bottom: .8rem;
    border-bottom: 4px solid var(--primary-color);
}

.profile .container li {
    margin: 2rem 0;
}

.profile .container a {
    color: var(--secondary-color);
}

#styles .container {
    width: 80%;
    margin: auto;
}

#styles .features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#styles .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

#styles li {
    margin: 3rem;
    width: 350px;
    height: 200px;
    border-radius: 1rem 0 1rem 0;
}

#styles li>span {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem 0 1rem 0;
}

#styles li>span a {
    color: var(--secondary-color);
    margin-bottom: 2rem;
}

.link-allstyles {
    margin: 3rem auto;
    padding: 1rem 1.5rem;
    border-left: 6px solid var(--primary-color);
    border-radius: .6rem;
    box-shadow: 3px 3px 10px #ffffff50, 2px 3px 10px #ff60b550;
    transition: all .3s linear;
}

.link-allstyles:hover, .link-allstyles:focus {
    text-decoration: none;
    transform: scale(1.1);
    box-shadow: 3px 3px 7px #ffffff50, 5px -3px 20px #ff60b590;
    border-radius:1.5rem;
    outline:unset;
}

.link-allstyles:focus {
    text-decoration: underline dashed;
}
/* --footer start-- */
.page-footer {
    border-top: 1px solid var(--secondary-color);
    margin-top: 8rem;
    width: 90%;
    margin: auto;
}

.page-footer .container {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
}

.page-footer p:first-of-type {
    text-align: center;
}

.page-footer .container p {
    margin-bottom: 1rem;
}

.page-footer .container a {
    color: var(--secondary-color);
}

.page-footer svg {
    width: 22px;
    margin-right: .1rem;
}

.page-footer path {
    fill: var(--secondary-color);
}

.page-footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 0 4rem;
}

.page-footer li {
    margin: 2rem 2rem;
    padding: var(--box-padding);
    border: 3px solid var(--secondary-color);
    border-radius: 1rem 0 1rem 0;
    transition: all .25s linear;
    font: bold var(--tiny-size) var(--heading-font);
    letter-spacing: calc(var(--letter-spacing) * .3);
}

.page-footer li:hover a, .page-footer li:focus a {
    text-decoration: none;
}

.page-footer li:hover, .page-footer li:focus {
    text-shadow: unset;
    transform: translate(10px);
}
/* --footer style end-- */

/* --media queries start-- */
@media (max-width:1400px) {
    :root {
        --h1-size: 9rem;
    }
    header::before, header::after {
        height: 90vh;
        width: 90vh;
    }
}

@media (max-width:1100px) {
    :root {
        --h1-size: 8.5rem;
    }
    header::before, header::after {
        height: 85vh;
        width: 85vh;
    }
    @keyframes open-aft {
        0% {
            right: 5%;
            transform: scale(.75);
        }
        100% {
            right: 200%;
            transform: rotate(.87turn) scale(.25);
            width: 0;
        }
    }
    @keyframes open-bef {
        0% {
            left: 5%;
            transform: scale(.75);
        }
        100% {
            left: -100%;
            transform: rotate(.87turn) scale(.25);
            width: 0;
        }
    }
}

@media (max-width:950px) {
    :root {
        --h1-size: 8rem;
        --h2-size: 3.2rem;
    }
    header::before, header::after {
        height: 80vh;
        width: 80vh;
    }
}

@media (max-width:800px) {
    :root {
        --para-size: 1.7rem;
        --tiny-size: 1.5rem;
        --h1-size: 7.75rem;
        --h2-size: 3.25rem;
        --h3-size: 2.25rem;
        --line-height: 2.5rem;
        --letter-spacing: .13rem;
        --li-box-padding: .4rem 1rem;
    }
    nav {
        position: unset;
        transform: unset;
        margin: 2rem auto;
        width: 70%;
        min-width: 320px;
        height: unset;
        overflow: hidden;
        box-shadow: 0px 2px 20px #f282d950, 0px -2px 20px #f282d950;
        user-select: none;
        font-size:var(--tiny-size);
    }
    nav ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    nav li {
        flex-grow: none;
        border: unset;
        border-bottom: 1px solid #ffffff10;
        padding: 1.2rem 2rem !important;
        position:relative;
    }
    nav ul li:not(:last-child) {
        border-right: unset;
    }
    nav ul li:hover {
        box-shadow: 0px -5px 10px #f282d960, 0px 5px 10px #f282d950;
        padding: 1.2rem 3rem !important;
    }
    #contribute ol {
        margin: 3rem 0.5rem;
    }
    .page-footer li {
        margin: 1.5rem;
    }
    .page-footer svg {
        width: 20px;
    }
    header>.container h2 {
        width: 95%;
    }
    .page-footer .container {
        margin: 4rem 0;
    }
    #about :last-child li {
        margin: .9rem .7rem;
    }
    .profile .container {
        margin: 0 auto 4rem;
        padding: 1.5rem;
    }
    .profile .container li {
        margin: 1.5rem 0;
    }
    #files a {
        margin: 0 1rem 3rem;
    }
    #styles li {
        padding: 1.5rem;
    }
    #files .container {
        margin: 3.5rem 0;
    }
    #files .container h3 {
        margin-bottom: 3rem;
    }
    #styles li {
        width: 300px;
        height: 150px;
        margin: 2rem 3rem;
    }
    #styles li>span a {
        margin-bottom: 1.5rem;
    }
    #files .container h3::before {
        display: none;
    }
    #styles .container {
        margin-bottom: 3rem;
    }
    #guidelines p:nth-of-type(2) {
        padding: 1.5rem;
    }
    header>.container h1 {
        -webkit-text-stroke: 12px transparent;
    }
    main h2, #styles .container h2 {
        white-space: unset;
    }
}

@media (max-width:600px) {
    :root {
        --para-size: 1.45rem;
        --tiny-size: 1.25rem;
        --h1-size: 6.15rem;
        --h2-size: 2.75rem;
        --h3-size: 2rem;
        --line-height: 2.1rem;
        --letter-spacing: .075rem;
        --box-padding: .9rem;
    }
    #about .container blockquote {
        width: 100%;
    }
    #guidelines p:nth-of-type(2) {
        width: 100%;
        padding: 1.5rem 1rem;
    }
    header>.container h1 {
        -webkit-text-stroke: 9px transparent;
    }
    main {
        width: 90%;
    }
    .page-footer svg {
        width: 18px;
    }
    .page-footer ul {
        margin: 1.3rem 0;
    }
    .page-footer li {
        margin: 1rem 1.5rem;
    }
    .page-footer .container {
        margin: 3rem 0;
    }
    #about :last-child li {
        margin: .6rem .6rem;
    }
    #styles li {
        padding: 1rem;
    }
    #files a {
        margin: 0 1rem 2rem;
    }
    #files .container {
        margin: 3rem 0;
    }
    #styles li {
        width: 280px;
        height: 130px;
    }
    #styles li>span a {
        margin-bottom: 1.3rem;
    }
    #styles .container {
        margin-bottom: 2rem;
    }
    .profile .container li {
        margin: 1.2rem 0;
    }
}

@media (max-width:500px) {
    :root {
        --para-size: 1.4rem;
        --tiny-size: 1.2rem;
        --h1-size: 5.65rem;
        --h2-size: 2.5rem;
        --h3-size: 1.9rem;
        --line-height: 2rem;
    }
    #files .container {
        margin: 0;
    }
    .page-footer ul {
        margin: 1rem 0;
    }
    .page-footer li {
        margin: .8rem 1.5rem;
    }
    .profile .container li {
        margin: 1rem 0;
    }
}

@media (max-width:450px) {
    :root {
        --h1-size: 5.2rem;
        --h2-size: 2.45rem;
        --h3-size: 1.85rem;
    }
}

@media (max-width:400px) {
    :root {
        --h1-size: 4.6rem;
        --h2-size: 2.4rem;
        --h3-size: 1.8rem;
        --letter-spacing: .05rem;
    }
}

@media (max-width:360px) {
    :root {
        --h1-size: 4rem;
        --h2-size: 2.35rem;
        --h3-size: 1.75rem;
    }
}

@media (max-width:320px) {
    :root {
        --para-size: 1.35rem;
        --tiny-size: 1.15rem;
        --h1-size: 3.55rem;
        --h2-size: 2.25rem;
        --h3-size: 1.7rem;
        --line-height: 1.9rem;
    }
}
/* --media queries start-- */

/* --reduce animations for prefered users-- */
@media (prefers-reduced-motion:reduce) {
    *, *::before, *::after {
        -webkit-animation-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
        -webkit-transition-duration: 0.01ms !important;
        transition-duration: 0.01ms !important;
    }
}